<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="topic">ข้อมูลผู้ใช้งาน</div>
            <!-- <button mat-flat-button color="primary" class="mx-1" [routerLink]="['add']"
                routerLinkActive="router-link-active">
                <mat-icon>add</mat-icon>เพิ่มผู้ใช้ใหม่
            </button> -->




            <router-outlet></router-outlet>
        </div>
    </div>
</div>






<!-- Button trigger modal -->
<button mat-flat-button type="button" color="primary" data-bs-toggle="modal" data-bs-target="#modalFormCreate">
 +เพิ่มผู้ใช้ใหม่
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="modalFormCreate" data-bs-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">เพิ่มข้อมูล</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...

          <form [formGroup]="formCreate">
            <div class="form-group">
                <label>Name</label>
                <input formControlName="name" class="form-control">
            </div>
            <button mat-flat-button color="primary">Save</button>
        </form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>



  
<!-- Button trigger modal -->
<button mat-flat-button type="button" color="primary" data-bs-toggle="modal" data-bs-target="#modalFormUpdate">
    แก้ไขข้อมูลผู้ใช้
     </button>
     
     <!-- Modal -->
     <div class="modal fade" id="modalFormUpdate" data-bs-backdrop="false" style="background-color: rgba(0, 0, 0, 0.5);" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="staticBackdropLabel">แก้ไขข้อมูล</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
           <div class="modal-body">
             ...
   
             <form [formGroup]="formCreate">
               <div class="form-group">
                   <label>Name</label>
                   <input formControlName="name" class="form-control">
               </div>
               <button mat-flat-button color="primary">Save</button>
           </form>
   
   
   
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary">Understood</button>
           </div>
         </div>
       </div>
     </div>