<div class="page-content">
<div class="page-topic">กิจกรรมที่เปิดลงทะเบียน</div>
<table class="table table-bordered table-hover mt-1 mb-3">
    <thead>
        <tr>
            <th>ดำเนินการ</th>
            <th>โครงการกิจกรรม</th>
            <th>วันจัดกิจกรรม</th>
            <th>วันรับลงทะเบียน</th>
            <th>จำนวนรับ</th>
            <th>เกณฑ์</th>
            <th>ประเภท</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>                            
                <a class="btn btn-success btn-sm me-1" [routerLink]="['/student/activity',5]" [state]="{ hello:'world'}" routerLinkActive="router-link-active" >
                <!-- <mat-icon class="icon-sm">edit</mat-icon> -->ลงทะเบียน
            </a></td>
            <td>-</td>
            <td>-</td>
            <td>-</td> 
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
</table>
</div>