<div class="page-toolbar">
    <div>
        <mat-icon>domain</mat-icon>
        <label>กิจกรรมนิสิต</label>
    </div>
    <span>
        <button [routerLink]="['add']" routerLinkActive="router-link-active" class="justify-content-end" mat-icon-button
             matTooltip="เพิ่ม" aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>add</mat-icon>
        </button>
        <button [routerLink]="['add']" routerLinkActive="router-link-active" class="justify-content-end" mat-icon-button
             matTooltip="โหลดข้อมูล" aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>refresh</mat-icon>
        </button>
    </span>
</div>