<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead pb-2 pt-5 bg-white">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light">ระบบบริหารจัดการกิจกรรมนิสิต</h1>
        <p class="lead">Student Activity Management System</p>
      </div>
    </div>
  </div>
</header>



<div class="container my-3">

  <div class="row">
    <div class="col-md-7 mt-3 mb-2">
      <div class="page-topic">ข่าวกิจกรรม</div>
      <div class="row">
        <div *ngFor="let item of activityList" class="col-xs-12 col-sm mb-3" style="min-width:230px;">
          <app-card-activity [ACTIVITY_ITEM]="item">
          </app-card-activity>
        </div>
      </div>
    </div>

    <div class="col-md-5 mt-3 mb-2">
      <div class="page-topic">กิจกรรมที่เปิดลงทะเบียน</div>



      <!-- 
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Accordion Item #1
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                      <div class="d-flex justify-content-end pt-2"><button class="btn btn-sm btn-primary">สมัคร</button></div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Accordion Item #2
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Accordion Item #3
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                  </div>
                </div>
              </div>
 -->




      <div class="list-group">
        <a class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">กิจกรรมทอดกฐินสามัคคี มหาวิทยาลัยมหาสารคาม ประจำปี 2564</h5>
          </div>
          <p class="mb-1">มหาวิทยาลัยมหาสารคาม ขอเชิญร่วมทำบุญ “ทอดกฐินสามัคคี มหาวิทยาลัยมหาสารคาม ประจำปี 2564 (รูปแบบออนไลน์) วันศุกร์ที่ 5 พฤศจิกายน พ.ศ.2564 ทอดถวาย ณ วัดป่าศรัทธาธรรมวิทยา ตำบลโคกพระ อำเภอกันทรวิชัย จังหวัดมหาสารคาม</p>
          <div class="d-flex w-100 justify-content-between">
            <small>สมัครแล้ว 20 คน รับอีก - คน</small>
            <button class="btn btn-sm btn-primary">สมัคร</button>
          </div>
        </a>

        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">ขอเชิญบริจาคเลือด</h5>
          </div>
          <p class="mb-1">โรงพยาบาลสุทธาเวช ขอเชิญบริจาคโลหิต วันจันทร์, 04 ตุลาคม 2564, เวลา 10:00 น.ณ
            บริเวณหน้าห้องพิพิธภัณฑ์ ชั้น 2 อาคารคณะแพทยศาสตร์ มหาวิทยาลัยมหาสารคาม หลังที่ 2 เขตพื้นที่ในเมือง</p>
          <div class="d-flex w-100 justify-content-between">
            <small class="text-muted">ผู้สม้ครเต็มจำนวน</small>
            <button class="btn btn-sm btn-danger">เต็ม</button>
          </div>
        </a>

        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">โครงการปฐมนิเทศนิสิตใหม่ระดับปริญญาตรี ปีการศึกษา 2563</h5>
          </div>
          <p class="mb-1">โครงการปฐมนิเทศนิสิตใหม่ระดับปริญญาตรี ปีการศึกษา 2563 เพื่อต้อนรับนิสิตใหม่
            มหาวิทยาลัยมหาสารคาม รุ่นภุมริน 12 ณ อาคารเฉลิมพระเกียรติในโอกาสฉลองพระชนมายุ 5 รอบ 2 เมษายน 2558
            มหาวิทยาลัยมหาสารคาม (เขตพื้นที่ในเมือง) ในวันที่ 7 กรกฎาคม 2563</p>
          <div class="d-flex w-100 justify-content-between">
            <small class="text-muted">ปิดโครงการ</small>
            <button class="btn btn-sm btn-secondary">ปิด</button>
          </div>
        </a>

      </div>

      <!-- <div class="card border-0 shadow my-5">
                <img class="img-fluid p-2"
                    src="https://dummyimage.com/600x400/eeeeee/555555&text=Student+Activity+Management">
                <div class="card-body p-5">
                    <h4 class="fw-light">กิจกรรมที่น่าสนใน</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ea dolor molestiae accusantium
                        corporis perspiciatis itaque temporibus excepturi quod tempore exercitationem hic dolores
                        assumenda consequatur, accusamus placeat perferendis est nostrum.</p>
                </div>
            </div> -->

    </div>
  </div>






</div>