<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" [(opened)]="isOpenSidenav">
        <div style="margin:8px;padding:0 5px;">
            <button mat-icon-button (click)="isOpenSidenav=!isOpenSidenav">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list>


            <!-- <mat-list-item (click)="isExpanded=!isExpanded">
                <mat-icon mat-list-icon class="chevrom_right" [ngClass]="{'rotated':isExpanded}">chevron_right
                </mat-icon>
            </mat-list-item> -->

            <mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active-list-item"
                (click)="isOpenSidenav=!isOpenSidenav">
                <mat-icon mat-list-icon class="">home</mat-icon>
                <span>หน้าหลัก</span>
            </mat-list-item>

            <mat-list-item>
                <mat-icon mat-list-icon class="">important_devices</mat-icon>
                <span class="">info</span>
            </mat-list-item>
            <mat-divider></mat-divider>

            <mat-list-item [routerLink]="['/user']" routerLinkActive="active-list-item"
                (click)="isOpenSidenav=!isOpenSidenav">
                <mat-icon mat-list-icon class="">perm_identity</mat-icon>
                <span class="">ผู้ใช้งาน</span>
            </mat-list-item>
            <mat-list-item [routerLink]="['/role']" routerLinkActive="active-list-item"
                (click)="isOpenSidenav=!isOpenSidenav">
                <mat-icon mat-list-icon class="">perm_identity</mat-icon>
                <span class="">สิทธิ์การใช้งาน</span>
            </mat-list-item>
            <mat-list-item (click)="isOpenSidenav=!isOpenSidenav">
                <mat-icon mat-list-icon class="">logout</mat-icon>
                <span class="">ออกจากระบบ</span>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>


    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="isOpenSidenav=!isOpenSidenav">
                <mat-icon>menu</mat-icon>
            </button>
            <a [routerLink]="['dashboard']"><span>Activity Transcript</span></a>

            <span class="spacer"></span>

            <button mat-icon-button [matMenuTriggerFor]="profileMenu" *ngIf="true">
                <!-- <i class="fa fa-user white-icon" aria-hidden="true"></i> -->
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #profileMenu="matMenu">
                <button mat-menu-item routerLink="/profile"> <i class="fa fa-user" aria-hidden="true"></i> Profile
                </button>
                <button mat-menu-item> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout </button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>

    <div>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>