@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Sarabun", sans-serif, Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px; 
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  z-index: 999;
  position: fixed;
}
.mat-tab-group {
  margin-top: 64px !important;
}
.mat-drawer-container {
  height: 100%;
}
.main-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.applogo,
.applogo:hover,
.applogo:visited {
  text-decoration: none;
  color: white;
}

footer {
  height: 56px;
  bottom: 0;
  background-color: darkgray;
  width: 100%;
  box-shadow: 0 50vh 0 50vh darkgray;
}


.router-link-active {
  color: yellow;
}



/* page element theme */
.page-content{
  padding:20px 10px;
}
.page-topic {
  font-size: 1.2rem;
  font-weight: bold;
  color: midnightblue;
}

